coverage>=4.4.2
cryptography
httpretty==1.1.4
motor
pyjwt>=2.0.1
requests==2.26.0
requests-futures
requests-mock
requests_toolbelt
sphinx>=1.4
tornado>=5.1
unidecode
git+https://github.com/WIPACrepo/wipac-telemetry-prototype@v0.1.20#egg=wipac_telemetry
