coverage>=4.4.2
cryptography
httpretty==1.0.5
motor
pycycle
pyjwt>=2.0.1
pytest
pytest-asyncio
pytest-flake8
pytest-mock
pytest-mypy
requests
requests-futures
requests-mock
requests_toolbelt
sphinx>=1.4
tornado>=5.1
unidecode
git+https://github.com/WIPACrepo/wipac-dev-tools@v1.0.2#egg=wipac_dev_tools